@inherits LayoutComponentBase
@inject EstadoCompartido Estado

<header class="montserrat-mifuente">
    <nav>
        <h3><a class="h3" href="/">DIGESETT</a></h3>
        <ul>
            <li><a href="modulocentral">central</a></li>
            
            <li><a class="btn btn-primary" href="@Estado.Link">Volver</a></li>
        </ul>
    </nav>
</header>

<main class="body montserrat-mifuente">
    @Body
</main>
