.contenedor-pagina {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}



.contenedor-imagen {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 2;
}

.logo-caja {
    width: 150px;
    height: auto;
    border-radius: 5px;
}



.contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5 {
    flex:;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.targeta-contenedor1, .targeta-contenedor2, .targeta-contenedor3, .targeta-contenedor4, .targeta-contenedor5 {
    background: #009E41;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    padding: 15px;
    border-radius: 5px;5
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card {
    height: 100px;
}

    .card .card-body h5 {
        font-size: 30x;
        font-weight: bold;
    }

    .card .card-body p {
        font-size: 14x;
        font-weight: normal;
    }
